@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --tom-de-cina: #0D0D0D;
}

#hero-bg{
  background-image: url("/assets/img/barber-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#principal{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#texto_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#texto_principal h1{
    color: white;
    font-family: "Akatab", sans-serif;
    font-weight: 700;
    font-size: 7vw;
}

#texto_principal p{
    color: white;
    font-family: "Roboto", sans-serif;
    
}

#botoes_principal{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#entre_em_contato-btn{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    padding: 1em;
    color: white;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    
}

#instagram_btn{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    padding: 1em;
    color: white;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    
}

.swiper{
  margin-top: 2em;
  margin-left: 0px;
  margin-right: 0px;
}

.card-swiper{
  width: 90em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px;
}

.imagem-cortes{
    height: 15em;
    width: 15em;
    border-radius: 15px;
}

.desc-corte{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  justify-items: center;
  gap: 1em;
  margin-top: 1em;
  text-align: left;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 15em;
}


#servicos h2{
    color: white;
    font-family: "Akatab", sans-serif;
    font-size: 5vw;
    margin-left: 1em;
}

#instagram_btn:hover{
    background-color: white;
    color: black;
}

#entre_em_contato-btn:hover{
    background-color: white;
    color: black;
}


